* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Gilroy";

}

html {
    font-size: 62.5%;
}

main {
    min-height: 100vh;
    width: 100%;
    background-color: #E5E7DF;
    color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

main>nav {
    z-index: 999;
    width: 100%;
    background-color: red;
    padding: 2vw 0vw;
    background-color: #E5E7DF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;


    & a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 1.8vw;
    }

    & .heading {
        font-weight: 900;


    }

    & .links {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 2vw;

        & a {
            font-size: 1.5vw;
        }
    }
}

#content {
    margin-top: 4vw;
    width: 100vw;
    padding: 0 3vw;
  
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .left {
        width: 40%;
        padding: 2vw;
        display: flex;
        flex-direction: column;
        gap: 1vw;

        & button {
            border: none;
            display: flex;
            border-bottom: 1px solid black;
            font-size: 1.5vw;
            width: fit-content;
            gap: 2vw;

            background-color: #E5E7DF;

        }

        & p {
            width: 60%;
            font-size: 1.4vw;
        }

    }

    & .right {
        width: 60%;
        padding: 2vw;

        & p {
            width: 100%;
            /* background-color: red; */
            font-size: 3vw;
        }
    }


}

main .bottom {
    width: 100vw;
    overflow: hidden;
    white-space: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3vw;


}

.anime {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 5vw; */
    animation: scroll 14s linear infinite;
    -webkit-animation: scroll 15s linear infinite;

    & img {
        width: 16vw;
        aspect-ratio: 1;
    }

}


.anime h1 {
    font-size: 20vw;


}

.page2 {
    width: 100%;
    padding: 0 3vw;

    height: 70vh;
}

.page2 .headings {
    margin: 5vw 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 0 3vw;

}

main .page2 .line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.271);
    margin-bottom: 5vh;
}

.page2-content {
    height: 100vh;
    width: 100%;
    margin-top: 5%;
    /* background-color: red; */
    padding: 0 3vw;

    display: flex;
    align-items: center;
    justify-content: space-between;




}

.page2-content .left {
    height: 100%;
    display: flex;
    width: 40%;

}

.page2-content .left h2 span {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

.page2-content .center {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;

    /* background-color: blue; */
    & p {
        font-size: 20px;
        opacity: .8;
    }
}

.page2-content .right {
    height: 100%;
    /* width: 20%; */
    display: flex;


}

.page3 {
    height: 100vh;
    width: 100%;
    padding: 0 3vw;


}

.page3 nav {
    padding: 3vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page3 nav h2 {
    font-weight: 400;
}

.page3 nav h2 span {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

.page3 nav a {
    text-decoration: none;
    color: black;
    font-size: 1.4vw;
    text-transform: capitalize;
    position: relative;
}

.page3 nav .para {
    margin-right: 14vw;
}

.page3 nav a::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: red;
    bottom: 0;
    transition: all 0.25s;

}

.page3 nav a:hover::before {
    width: 100%;

}

.page3 .text1 {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;

    & h1 {
        font-size: 18vw;
        font-weight: 900;
        font-family: sans-serif;
        text-transform: uppercase;
        /* margin-top: 2vw; */
    }
}

.page3 .text2 {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & h1 {
        font-size: 20vw;
        text-transform: uppercase;
        font-family: sans-serif;
        line-height: 1;

    }

    & .video {
        height: 30vh;
        width: 30vw;
        background-color: black;

        & video {
            height: 100%;
            width: 100%;
            scale: 1.1;
        }

    }
}

.page4 {
    min-height: 100vh;
    width: 100%;
    padding: 5rem 2rem;
    color: white;
    background-color: black;
    & h1{
        text-align: center;
        font-size: 25rem;
        letter-spacing:-10px;
        line-height: 1;
        font-weight: 900;
        font-family: sans-serif;
        padding-top: 10rem;
        margin-bottom: 5rem;

    }

    & .page4text {
        height: 30rem;
        width: 100%;
        display: flex;
        justify-content: space-between;

        & h2 {
            font-size: 2.5rem;
            position: relative;
            height: fit-content;
            line-height: 1;
            padding: 0 2rem;
            &::before {
                content: "";
                position: absolute;
                width: 1rem;
                height: 1rem;
                background-color: red;
                left: 2%;
                bottom: 29%;
                border-radius: 50%;
            }
        }

        & p {
            width: 60%;
            padding: 1rem ;
            font-size: 4rem;
        }
    }
}
.page4 .page4-btm{
    height: 80vh;
    width: 100%;
    position: relative;
    & .center{
        width: 60%;
        height: 100%;
        position: absolute;
        left: 35%;
        margin: auto;
        padding: 2rem 2rem;
        & p{
            font-size: 3rem;
        }
        & .text1{
            display: flex;
            justify-content: space-between;
            border-top: 1px solid white;
            margin-top: 3rem;
            padding: 2rem 0rem;
            & .left{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 2rem;
                & h2{
                    font-size: 2.5rem;
                }
            }
         & .right h2{
            font-size: 3rem;

         }

        }
        
        .left-last{
            border-bottom: 1px solid white;
            padding-bottom: 4em;
        }

    }
}






































@keyframes scroll {
    0% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
        /* Move off-screen to the left */
    }
}